<div class="icon-logo">
  <mat-icon
    svgIcon="internal:logo"
    aria-hidden="false"
    [style.width.px]="iconSize"
    [style.height.px]="iconSize"
  ></mat-icon>

  <span [style.font-size.px]="textSize">
    BurningHearts
  </span>
</div>
