.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 250px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.active-link {
  //  todo: write style for active link like this
  color: #ffffff;
  background-color: indianred;
  font: 17px Inter, sans-serif;
}
.mat-nav-list {
  margin-top: 20px;
}

