<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="(isHandset$ | async) === false"
  >
   <app-logo size="l"></app-logo>

    <mat-nav-list>
      <!-- todo: set some space like 10px between icon and label -->
      <a mat-list-item [routerLink]="'/gifts'" routerLinkActive="active-link">
        <mat-icon style="margin-right: 10px;">local_florist</mat-icon>
       <b>Gifts</b>
      </a>

      <a mat-list-item [routerLink]="'/blog'" routerLinkActive="active-link">
        <mat-icon style="margin-right: 10px;">event_note</mat-icon>
       <b>Blog</b>
      </a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async"
      >
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>

      <span>test-app</span>

      <span style="flex: 1 1 auto;"></span>

      <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>person</mat-icon>

        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="openLoginModal()">Login</button>
        </mat-menu>
      </button>
    </mat-toolbar>

    <router-outlet></router-outlet>

  </mat-sidenav-content>
</mat-sidenav-container>
