<section>
  <div class="headline">
    <app-logo [routerLink]="'/'" size="s">
    </app-logo>
    <h2>Gifts</h2>

    <label>
      Select gift type
      <select
        class="form-control"
        name="gifts"
        [(ngModel)]="selectedGiftType"
        (ngModelChange)="listenForModelChangeForTest()"
      >
        <option *ngFor="let type of typeGifts" [value]="type">{{ type }}</option>
      </select>
    </label>
  </div>

  <div fxLayout="row wrap" fxLayoutGap="10px">
    <mat-card style= "height: 381px" fxFlex="200px" *ngFor="let gift of filteredGifts">
      <mat-card-header>
        <mat-card-title>{{ gift.title }}</mat-card-title>
        <mat-card-subtitle>{{ gift.subtitle }}</mat-card-subtitle>
      </mat-card-header>

      <img mat-card-image [src]="gift.params.image">

      <mat-card-content>
        <p>
          {{ gift.amount }} {{ gift.currency }}
        </p>
      </mat-card-content>

<!--      All this materials' blocks like 'mat-card-action' or 'mat-card' or 'mat-button' has already had .mat-card-action class -->
      <mat-card-actions>
        <button mat-button>LIKE</button>
        <button mat-button>SHARE</button>
      </mat-card-actions>
    </mat-card>
  </div>
</section>
