section {
  padding: 20px;

  .headline {
    display: flex;
    justify-content: space-between;

    select {
      width: auto;
    }
  }

  .mat-card {
    margin-bottom: 20px;
    max-height: 30em;

    &-image {
      height: 160px;
      object-fit: contain;
    }
  }
  .mat-card-actions {
    bottom: 8px;
    position: absolute;
    margin-bottom: 0;
    }

  }


.example-header-image {
  background-image: url('/assets/img/gifts/gift4.png');
  background-size: cover;
}

