<!--todo: create form in ts-file and bind this form with it -->
<form class="card" [formGroup]="form" (ngSubmit)="submit()">
  <div class="form-control">
    <app-logo
      (click)="close()" size="m">
    </app-logo>

    <label for="email">Email or phone:</label>
    <input id="email" type="email" formControlName="email">
    <div
      *ngIf="form.get('email').touched && form.get('email').invalid"
      class="validation">

      <small *ngIf="form.get('email').errors.required">
        Введите поле email
      </small>
      <small *ngIf="form.get('email').errors.email">
        Поле email должно быть email
      </small>
    </div>
  </div>
  <div
    class="form-control">
    <label for="password">Password:</label>
    <input id="password" type="password" formControlName="password">
    <div
      class="validation"
      *ngIf="form.get('password').touched && form.get('password').invalid"
    >
      <small *ngIf="form.get('password').errors.required">
        Введите пароль
      </small>
      <small *ngIf="form.get('password').errors.minlength">
        Пароль должен быть не менее
        {{form.get('password').errors.minlength.requiredLength}}
        символов. Сейчас он
        {{form.get('password').errors.minlength.actualLength}}
        символа
      </small>
    </div>
  </div>

<!--  todo: add style for buttons-->

<!--  todo: this should be flat and simple-->
  <button class="btn btn-sm" mat-dialog-close style="margin-right: 20px;">
    Close
  </button>

  <!--  todo: this as primary button should be colored-->
  <button
    type="submit"
    class="btn btn-primary"
  [disabled]="form.invalid"
  >
    Login
  </button>
</form>
